---
import Layout from "../layouts/Layout.astro";
import BoxRegulations from "../sections/BoxRegulations.astro"
---

<Layout
  description="Reglamento Cangas Cup 2024 "
  title="Reglamento - Cangas Cup Futsal 2024"
>
 <main>
  <BoxRegulations />
  </main>
</Layout>

    <style>
      body {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
      }
    </style>
 