---
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Reglamento Cangas Cup 2024 "
  title="Reglamento - Cangas Cup Futsal 2024"
>
  <section class="w-auto h-auto mt-60">
  </section>
  <style>
    body {
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
    }
  </style>
</Layout>
