---
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Resultados Cangas Cup 2024 "
  title="Resultados - Cangas Cup Futsal 2024"
>
  <section class="w-auto h-auto mt-60"></section>
</Layout>
