---
import Layout from "../layouts/Layout.astro";
import BoxResults from "../sections/BoxResults.astro";
---

<Layout
  description="Resultados Cangas Cup 2024 "
  title="Resultados - Cangas Cup Futsal 2024"
>
  <section class="w-auto h-auto mt-20">
    <h1
      class="text-xl font-semibold mt-5 text-amber-400 uppercase text-primary text-center tracking-wider"
    >
      Resultados
    </h1>

    <BoxResults />
  </section>
</Layout>
