---
import Layout from "../layouts/Layout.astro";
const response = await fetch("http://localhost:8081/teams");
const data = await response.json();
const firstTeam = data[0];
---

<Layout
  description="Lista de equipos de la Cangas Cup 2024 "
  title="Lista equipos - Cangas Cup Futsal 2024"
>
  <section>
   <h1>Usuario</h1>
   <h2>{firstTeam.name}</h2>
  </section>
</Layout>
