<div class="flex flex-col gap-4 text-center md:flex-row lg:gap-6">
  &copy; {new Date().getFullYear()} Cangas Cup Futsal 2024 <span
    aria-hidden="true"
    class="hidden md:inline">|</span
  ><br aria-hidden="true" class="block md:hidden" />
  Todos los derechos reservados.
  <span aria-hidden="true" class="hidden md:inline">|</span><br
    aria-hidden="true"
    class="block md:hidden"
  />
  Aviso legal
  <span aria-hidden="true" class="hidden md:inline">|</span><br
    aria-hidden="true"
    class="block md:hidden"
  />
  Política de privacidad
</div>
