<footer
  class="bottom-0 left-0 w-full h-16 px-10 py-2 sm:h-20 sm:py-4 z-50 bg-blue-400 text-white flex items-center justify-between"
>
  <div class="flex items-center space-x-20 mx-auto">
    <a href="https://www.instagram.com/cangascup?igsh=N2UwZ3E2OGRuaWsy"
      ><img
        src="/instagram-seeklogo.svg"
        class="h-6 sm:h-8 md:h-10 lg:h-12 xl:h-14"
      /></a
    >
    <a href="https://maps.app.goo.gl/Bn5e6YBUtLjGsXJj7">
      <img
        src="/google-maps-icon-2020-seeklogo.svg"
        class="h-6 sm:h-8 md:h-10 lg:h-12 xl:h-14"
      />
    </a>
  </div>
</footer>
