<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
  <img
    class="w-16 mb-10 m-auto"
    src="/CANGASCUPLOGO.png"
    alt="Logo Cangas Cup"
  />
  <h1
    class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    Bienvenidos/as a las Cangas Cup Futsal 2024
  </h1>
  <p>
    <strong> La Cangas Cup Futsal,</strong> un torneo que reúne a los equipos más
    destacados en una celebración de habilidad y competitividad en<strong>
      Cangas del Narcea.</strong
    >
  </p>
  <p>
    La villa se convierte en el epicentro del fútbol sala, con equipos
    provenientes de diferentes rincones, unidos por la pasión por este
    emocionante deporte.
  </p>
  <p>
    Tras una emocionante edición el año pasado de fútbol 7 en Cangas del Narcea,
    la expectativa está en su punto más alto para la segunda edición, que se
    llevará a cabo<strong> el 14 de junio de 2024.</strong>
  </p>
  <p>
    Es un evento que no solo destaca el talento deportivo, sino también<strong
      >el compañerismo y la emoción compartida entre jugadores y aficionados</strong
    > durante la Cangas Cup Futsal.
  </p>
</section>
