<div class="border border-gray-300 rounded-md p-4 overflow-x-auto">
  <h2 class="text-lg font-semibold mb-4 text-center">
    Clasificación de Equipos
  </h2>
  <table class="w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Equipo</th>
        <th class="px-4 py-2">Puntos</th>
        <th class="px-4 py-2">Goles a favor</th>
        <th class="px-4 py-2">Goles en contra</th>
        <th class="px-4 py-2 text-center">Diferencia de goles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-4 py-2">Equipo 1</td>
        <td class="px-4 py-2">20</td>
        <td class="px-4 py-2">30</td>
        <td class="px-4 py-2">15</td>
        <td class="px-4 py-2 text-center whitespace-nowrap overflow-hidden"
          >15</td
        >
      </tr>
      <tr>
        <td class="px-4 py-2">Equipo 2</td>
        <td class="px-4 py-2">20</td>
        <td class="px-4 py-2">30</td>
        <td class="px-4 py-2">15</td>
        <td class="px-4 py-2 text-center whitespace-nowrap overflow-hidden"
          >15</td
        >
      </tr>
      <tr>
        <td class="px-4 py-2">Equipo 3</td>
        <td class="px-4 py-2">20</td>
        <td class="px-4 py-2">30</td>
        <td class="px-4 py-2">15</td>
        <td class="px-4 py-2 text-center whitespace-nowrap overflow-hidden"
          >15</td
        >
      </tr>
    </tbody>
  </table>
</div>
