<section
  class="w-full relative flex justify-center items-center"
  style="margin-top: 40px;"
>
  <video
    class="w-full h-full object-cover object-top "
    src="/CangasCupent.webm"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 75%, 56% 100%, 43% 100%, 0 75%);"
  ></video>
  <video
    class="w-full h-full absolute inset-0 object-cover object-top -z-40 blur-2xl"
    src="/CangasCupent.webm"
    autoplay
    loop
    muted
    style="filter: blur(5px) brightness(80%);"></video>
</section>
