---
import ResultItem from "../components/ResultItem.astro";
import Pagination from "../components/Pagination.astro";
import ListTeams from "../components/ListTeams.astro";

const results = [1, 0];

const resultsPerPage = 10;
const totalPages = Math.ceil(results.length / resultsPerPage);

let currentPage = 1;

function setCurrentPage(page) {
  currentPage = page;
}

const startIndex = (currentPage - 1) * resultsPerPage;
const endIndex = startIndex + resultsPerPage;
const currentResults = results.slice(startIndex, endIndex);
---

<div
  class="container mx-auto flex flex-col md:flex-row md:justify-center md:space-x-56 items-center my-4"
>
  <section class="md:w-1/3">
    <ListTeams />
  </section>

  <section class="md:w-1/3 mt-4 md:mt-0">
    <h2>Partido 1 a las 18:00</h2>
    <p>Equipo 1 - Equipo 2</p>
    <h2>Partido 1 a las 19:00</h2>
    <p>Equipo 3 - Equipo 4</p>
    <h2>Partido 1 a las 20:00</h2>
    <p>Equipo 5 - Equipo 6</p>
  </section>
  <Pagination
    totalPages={totalPages}
    currentPage={currentPage}
    setCurrentPage={setCurrentPage}
  />
</div>
