<section class="relative" style="margin-top: 75px;">
  <div class="aspect-w-16 aspect-h-9">
    <video
      class="w-full h-full object-cover object-top"
      autoplay
      loop
      playsinline
      muted
      style="clip-path: polygon(0 0, 100% 0, 100% 75%, 56% 100%, 43% 100%, 0 75%);"
    >
      <source src="/CangasCupent.gif" type="video/gif" />
      <source src="/CangasCupent.webm" type="video/webm" />
      <source src="/CangasCupent.mp4" type="video/mp4" />
      Tu navegador no soporta el elemento de video.
    </video>
  </div>
  <div class="absolute inset-0 flex items-center justify-center">
    <video
      class="absolute inset-0 object-cover object-top w-full h-full -z-10 blur-2xl"
      autoplay
      loop
      playsinline
      muted
      style="filter: blur(5px) brightness(80%);"
    >
      <source src="/CangasCupent.gif" type="video/gif" />
      <source src="/CangasCupent.webm" type="video/webm" />
      <source src="/CangasCupent.mp4" type="video/mp4" />
      Tu navegador no soporta el elemento de video.
    </video>
  </div>
</section>
